body{
    margin: 0;
}

.container{ 
    max-width: 1160px;
    margin: 0 auto;  
}

.navigation {
    background-color: #FFE17F;
    margin-top: 40px;
}

.logo { 
    margin-left: 61px;
    margin-top: -23px;
}

.menu-top { 
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 44px;
    padding-left: 60px;
}
input { 
    width: 480px;
    height: 20px;
    border: none;
    background: none;
    outline: none;
}

.navigation-image { 
    width: auto;
    height: auto;
    padding: 0 10px; 
}
.navigation-enter {
    width: 220px;
    height: auto; 
}

.navigation-compare {
    width: 100px;
    height: auto; 
}

.navigation-basket {
    width: 100px;
    height: auto; 
}

.menu-bottom { 
    display: flex;
    align-items: baseline;
    padding-bottom: 17px;
    padding-left: 60px;
}

.menu-catalog { 
    width: 236;
}

.menu-delivery { 
    width: 140;
    padding-left: 304px;
    
}
.menu-gueranty { 
    width: 140;
    padding-left: 19px;
    
}
.menu-contacts { 
    width: 140;
    padding-left: 62px;
}

.popualr-category{ 
    display: flex;
    align-content: center;
}

.text-container { 
    display: flex;
    flex-direction: column;

}


.visually-hidden { 
    display: none;    
}
