@font-face {
    font-family:"Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
         url("../fonts/rubik/rubik-400.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family:"Rubik" ;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
         url("../fonts/rubik/rubik-700.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family:"Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2"),
         url("../fonts/rubik/rubik-800.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
         url("../fonts/raleway/raleway-800.woff2") format("woff");
    font-display: swap;
}

.menu-top{
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.menu-bottom{
    font-family: "Raleway" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.text-header{
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    text-align: right;
}
.text-title{
    font-family: "Raleway"" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.text-description{

}