@import './fonts.css';
@import './default.css';
@import './reset.css'

.menu-top{
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.menu-bottom{
    font-family: "Raleway" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.text-header{
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    text-align: right;
}
.text-title{
    font-family: "Raleway" sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}
.text-description{

}